*{
    margin: 0;
    padding: 0;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0;
} 
.navbar ul li{
    text-align: center;
}
.navbar ul a{
    text-decoration: none;
    color: #000;
    margin: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.navbar ul a:hover{
    color: #fff;
}

.navbar{
    background-color: grey;
    margin-bottom: 10px;
    padding: 0;
    height: 45px;

}